<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <%= f.label :Name, class:"col-md-2 form-text" %>
    <%= f.text_field :Name, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label :Nick, class:"col-md-2 form-text" %>
    <%= f.text_field :Nick, class:"col-md-10 form-text" %>
  </div>

  <div class="field">
    <%= f.label :email, class:"col-md-2 form-text" %>
    <%= f.text_field :email, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label :address, class:"col-md-2 form-text" %>
    <%= f.text_field :address, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label :Password, class:"col-md-2 form-text" %>
    <%= f.password_field :Password, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label "Confirme Password", class:"col-md-2 form-text" %>
    <%= f.password_field :Password2, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label :ZipCode, class:"col-md-2 form-text" %>
    <%= f.number_field :ZipCode, class:"col-md-10" %>
  </div>

  <div class="field">
    <%= f.label :phone, class:"col-md-2 form-text" %>
    <%= f.number_field :phone, class:"col-md-10" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
