
<h2><%= @category.name_category %></h2>
<div class="row">
		<% @category.products.each do |product| %>
				<%= link_to  product,class: 'col-md-4' do %>
					<%= image_tag(product.picture.url('medium'), class: "img-responsive") %>
					<p><%= product.titulo %></p>
					<p><%= product.desc_corta %></p>
				<%end%>
		<%end%>
</div>

<p id="notice"><%= notice %></p>
<!--<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %> -->
