
  <div class="row product-img">
    <span>
        <%=image_tag @product.picture.url,class: 'img-responsive' %>
    </span>
  </div>
  <div class="product-detail">
    <h1 class="product-title"><%= @product.titulo %> </h1>

    <% @product.categories.each do |cat| %>
      <i><%= link_to  cat.name_category ,cat ,class: 'cat-link' %></i>
    <%end%>
    <p class="product-desc"><%= @product.desc %></p>
    <p> Valor: <%= @product.precio %> - Disponibles: <%= @product.stock %></p>

  </div>
