<!DOCTYPE html>
<html>
  <head>
    <title>ChoroStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="container-fluid">
    <nav>
      <div class="col-md-12">
        <div class="col-md-2">
          <a href="#"><img src="https://scontent.fscl3-1.fna.fbcdn.net/v/t1.0-1/p200x200/16640673_985017418298768_6735879098055262724_n.png?oh=5692627c3295fe21977c787cfff158a0&oe=59251F21" alt="logo" class="logo"></a>
        </div>
        <div class="col-md-10">
          <ul class="col-md-12 no-padding row">
            <li class="btn col-md-3"><a href="#">link1</a></li>
            <li class="btn col-md-3"><a href="#">link2</a></li>
            <li class="btn col-md-3"><a href="#">link3</a></li>
            <li class="btn col-md-3"><a href="#">link4</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <aside class="col-md-2">
      <div class="row">
        <ul>
          <li class="btn">cat1</li>
          <li class="btn">cat1</li>
          <li class="btn">cat1</li>
          <li class="btn">cat1</li>
        </ul>
      </div>
    </aside>
    <div class="col-md-10">
      <%= yield %>
    </div>
    <footer class="col-lg-12 center text-center">
      <p> Keilabs ®2017</p>
    </footer>
  </div>
  </body>

</html>
